.container {
  background-color: cadetblue;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  position: relative;
  text-align: start;
  & p {
    margin: 0.5rem;
  }
}
.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: red;
  cursor: pointer;
}
