.section {
  background-color: aliceblue;
  width: 100%;
  width: 300px;
  position: relative;
  min-height: 300px;
  max-height: 320px;
  margin: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.noneUsers {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: grey;
}
.heading {
  margin: 1rem;
}
.addUserButton {
  position: sticky;
  bottom: 0;
  background-color: inherit;
  & button {
    margin: 0.3rem;
    border: none;
    background-color: blue;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
  }
}
.containerAddUser {
  position: sticky;
  // height: 100%;
  bottom: 50%;
  transform: translateY(50%);
  // background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
