@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#root {
  text-align: center;
  background-color: #2b2a33;
  min-height: 100vh;
  color: #000;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
